body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

.a_list {
  width: 100px;
  margin: 0px auto;
  display: block;
  border: 1px solid black;
  text-decoration: none;
}

.anim {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  background-color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin-left: 10px;
}

h2 {
  font-size: 23px;
  font-weight: 500;
  margin-left: 10px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
}

.empty_product {
  font-style: italic;
}
button[type="button"] {
  margin: 0 0 20px 10px;
}

.line {
  background-color: black;
  width: 100%;
  height: 1px;
  margin-left: 10px;
}